name: Upload

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'yarn'

    - uses: calcit-lang/setup-cr@0.0.8

    - name: "deps"
      run: yarn && caps --ci

    - name: "cr test"
      run: cr --entry test -1

    - name: "js tests"
      run: >
        cr --entry test -1 js && env=ci node test.mjs

    - name: "compiles to js"
      run: >
        cr -1 js
        && yarn vite build --base=./

    - name: Deploy to server
      id: deploy
      uses: Pendect/action-rsyncer@v2.0.0
      env:
        DEPLOY_KEY: ${{secrets.rsync_private_key}}
      with:
        flags: '-avzr --progress'
        options: ''
        ssh_options: ''
        src: 'dist/*'
        dest: 'rsync-user@tiye.me:/web-assets/repo/${{ github.repository }}'

    - name: Display status from deploy
      run: echo "${{ steps.deploy.outputs.status }}"
